
body{
  z-index: 0;
  margin: 0;
  text-align: center; /*will center everything without a width set*/

  /*fonts families*/

  font-family: sans-serif, verdana; /*tries to render different fonts*/

  /* font-size: 20px; /*bad to set all text as specific size*/
}

canvas {
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.kley{
  /*Use no wrap to display txt on one line*/
  display: inline-block;
  /*border-style: dashed;*/
  width: 800px;
  font-size: 1rem;
  color: #66BF6F;
  /*rem vs em
  rem referecences the nearest parent ffont setting
  root references the default html font size setting
  */
}

h1{
  margin: 50px auto 0 auto;
  display: inline-block;
  white-space: nowrap;

}

.subH1{
  /*font-size: 2.5rem;*/
  font-weight: normal;

}

.topCont{
  position: relative;
  padding-top: 100px;



  background-color: rgba(80,150,150, .1) ;

  /*    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#54A4C5), to(#FFFFFF)) no-repeat;
  */
}



.mtn{
  z-index: 1;
  position: relative;

}

.cld{
  z-index: 2;
  position: relative;
}

.cld img{ /*Use this to resize images in css*/
  position: absolute;
  height: 200px;
  width: 400px;
  bottom: 300px;
  right: 350px;

}

.pro{
  text-decoration: underline;
}

/**Absolute is relative to container it is in*/
/*Relative is relative to its original position.*/
/*Fixed used to keep objects on screen after scrolling*/


.osuCircle{
  position: relative;
  display: inline-block; /* <!-- block allows can still change widt */
}



h2{
  color: #66BFBF;
}

h3{
color: #66BFBF;

}

.skill-row{
  width: 75%;   /*changes the size of the objects*/
  margin: 100px auto 100px auto; /*moves the objects around - sets margin from connection*/

  text-align: left; /*used to modify only texts in sections*/
  line-height: 2;

}




.searchPic{
  float: left;
  position: relative;
  border-radius: 100px 100px 100px 100px;
  width: 250px;
  height: 50px;
  object-fit: cover;
  margin-right: 30px;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.handLike{
  float: right;
  position: relative;
  object-fit: cover;
  border-radius: 80%;
  width: 25%; /*changes to width of parent container - skill row here*/
  height: 25%;
  margin-left: 30px;
  margin-top:12.5%;
  margin-bottom: 12.5%

}

.contact-me{
    width: 40%;
    margin: 60px auto 60px;

  }

  .contact-message{
margin: 2rem;
  }
.bottom-container{
  background-color: rgba(80,150,150, .1) ;
  margin-top: 5%;
  padding: 50px 0 20px;

}



hr{
    width: 8%;
    border-style:dotted;
    border-bottom: 0;
    border-width: 8px;
    border-color: rgba(40, 080, 220, 0.4);

}



.footer-link{
  position: relative;
  color: #11999E;
  margin: 0% 5% 0 5%;
  margin-bottom: 10px;
}

/**
#skillPar1{
  clear: left;
}
*/

.btn
{
    font-size: .8rem;
    padding: 2%;
    border-radius: 15%;
    text-align: center;
    color: #EAF6F6;
    background-color: rgba(40, 120, 240, 0.4);
}


a:hover{
  color: #a1b9fE;

}
